@{
    ViewData["Title"] = "Home Page";
}

@model BooksListViewModel

    <h1>Mac's Marvelous Bookstore</h1>

@foreach (Project p in Model.Projects)
{
    <li><b>Title: @p.Title</b></li>

    <ul>
        <li>Id: @p.BookId</li>
        <li>ISBN: @p.ISBN</li>
        <li>Author: @p.Author</li>
        <li>Publisher: @p.Publisher</li>
        <li>Category: @p.Classification / @p.Category</li>
        <li>Pages: @p.PageCount pages</li>
        <li>Price: $@p.Price</li>
    </ul>
}

<div page-model="@Model.PaginationInfo" page-action="Index"></div>